.header {
    padding: 0.5rem;
    height: 10vh;
    width: 100%;
    background-color: #000;
    color: #FFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    a{
        color: #FFF;
        text-decoration: none;
    }
    nav{
        width: 40%;
        display: flex;
        ul{
            display: flex;
            margin: 0;
            width: 100%;
            justify-content: right;
            text-align: center;
            li{
                margin-right: 1.5rem;
                list-style: none;
                font-size: 1.2rem;
                font-weight: 500;
                a{
                    i{
                        margin-right: 5%;
                    }
                }
            }
            li:hover{
                background-color: rgba(255,255,255,0.2);
                border-radius: 1.2rem;
                transition: 200ms;
            }
        }
    }
    &--form{
        display: flex;
        width: 30%;
    }
    &--searchBar{
        height: 1.8rem;
        width: 80%;
        padding-left: 0.5rem;
        font-size: 1.1rem;
        box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgb(255, 255, 255, 0.7);
    }
    &--searchButton{
        height: 1.9rem;
        width: 20%;;
        border-radius: 1rem;
        border: solid 0.15rem #FFF;
        background-color: #000;
        color: #FFF;
        font-weight: 600;
        font-size: 1.1rem;
        margin-left: 1rem;
        padding-bottom: 0.5%;
    }
    &--searchButton:hover{
        box-shadow: inset -0.1rem -0.1rem 0.1rem 0.1rem rgb(255, 255, 255, 0.7);
        width: 19%;
        transition: 0.2s;
    }
    &--title{
        margin: 0;
        font-size: 1.5rem;
        width: 20%;
        text-align: left;
        a {
            font-family: 'Ms Madi', cursive;
            font-size: 3rem;
        }
    }
}