.hero{
    background: url('https://i.picsum.photos/id/1012/3973/2639.jpg?hmac=s2eybz51lnKy2ZHkE2wsgc6S81fVD1W2NKYOSh8bzDc') no-repeat center / cover;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    &--textContainer{
        padding-left: 3%;
        padding-bottom: 1rem;
        background-color: rgba(0,0,0,0.4);
        &__h1{
            color: #FFF;
            font-family: 'Ms Madi', cursive;
            font-size: 6rem;
        }
        &__h2{
            color: #FFF;
            font-weight: 300;
        }
    }
}
.index--main{
    display:flex;
    .news{
        width: 30%;
    }
}

