.tools{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .income{
        width: 20rem;
        height: 22rem;
        margin-bottom: 0.5rem;
        display: flex;
        text-align: center;
        &__form{
            display:flex;
            flex-direction: column;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            justify-content: space-around;
        }
    }
    .lists{
        &__container{
            text-align: center;
            margin-bottom: 0.5rem;
            li{
                list-style: none;
                margin-top: 0.5rem;
            }
        }
    }
    .animatedRooms{
        &__container{
            display: flex;
            flex-wrap:wrap;
            justify-items: space-around;
            text-align: center;
            .animatedRoom{
                width: 30%;
                ul{
                    list-style: none;
                }
            }
        }
    }
}